:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #201e1e;
  color: #eee;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-icon {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 100px;
  cursor: pointer;
  transition: 1s;
}

button.with-icon:hover {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 25px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 25px 0 rgba(255, 255, 255, 0.8),
    0 1px 25px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 25px 0 rgba(255, 255, 255, 0.8);
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
  transition: 1s;
}

button.with-text:hover {
  box-shadow: 0 1px 25px 0 rgba(230, 12, 12, 0.1) inset, 0 1px 25px 0 rgba(255, 255, 255, 0.1),
    0 1px 25px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 25px 0 rgba(255, 255, 255, 0.1);
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
